@model dynamic
@using Umbraco.Web.Templates
@using Lecoati.LeBlender.Extension

@if (Model.value != null)
{
    <div id="custom-nav-generic">

        <!-- Nav tabs -->
        <ul class="nav nav-pills pull-right">
            @foreach (var item in Model.value)
            {
                var content = Helper.GetFirstContent(item.content);
                var link = content != null ? content.Url : "#";
                <li role="presentation"><a href="@link" title="@item.title.value">@item.title.value</a></li>
            }
        </ul>

    </div>
}
