@model dynamic
@using Umbraco.Web.Templates
@using Lecoati.LeBlender.Extension

@if (Model.value != null)
{
    foreach (var item in Model.value)
    {
        var content = Helper.GetFirstContent(item.content);
        var link = content != null ? content.Url : "#";
        <div id="jumbotron-generic" >
            <div class="jumbotron">
                <h3>@item.title.value</h3>
                <p>@item.summary.value</p>
                <p><a class="btn btn-primary btn-lg" href="@link" role="button">Learn more</a></p>
            </div>
        </div>
    }
}


