<div ng-controller="leblenderproperties.controller">

    <div class="umb-property-editor umb-prevalues-multivalues">

        <!--<ul class="unstyled list-icons umb-contentpicker" ui-sortable >
            <li ng-repeat="property in model.value track by $index">
                <i class="icon icon-navigation handle"></i>
                <i class="icon icon-delete red pull-right" ng-click="remove($index)"></i>
                <a href="#" prevent-default="" ng-click="openPropertyConfig(property)">
                    {{property.name}}
                </a>
            </li>
        </ul>-->

        <div ui-sortable ng-model="model.value">
            <div class="control-group umb-prevalues-multivalues__listitem" ng-repeat="property in model.value track by $index">
                <i class="icon icon-navigation handle"></i>
                <div class="umb-prevalues-multivalues__left">
                    <a href="#" prevent-default="" style="margin-left: 0;" ng-click="openPropertyConfig(property)">{{property.name}}</a>
                </div>
                <div class="umb-prevalues-multivalues__right">
                    <a class="umb-node-preview__action" ng-click="openPropertyConfig(property)"><localize key="general_edit" class="ng-isolate-scope">Edit</localize></a>
                    <a class="umb-node-preview__action umb-node-preview__action--red" ng-click="remove($index)"><localize key="general_remove">Remove</localize></a>
                </div>
            </div>
        </div>

        <button class="btn btn-info" prevent-default ng-click="openPropertyConfig()">Add property</button>

    </div>
    
    
</div>