#blender-grid-editor-parameter .list {
    padding: 0px 0 5px 0;
    height:0;
    position:relative;
    background:#fff;
    overflow:hidden;
}
#blender-grid-editor-parameter .list > span.list-number {
    cursor:pointer;
}

#blender-grid-editor-parameter .multiple .umb-control-group {
    padding: 0 15px 15px 15px;
}

#blender-grid-editor-parameter .twitter-typeahead input {
    width: 336px;
}

#blender-grid-editor-parameter .list-open {
    height:auto;
    overflow:initial;
}

#blender-grid-editor-parameter .list-number {
    font-weight: 900;
    display: inline-block;
    padding: 4px 10px;
    color: #555;
    background: #f8f8f8;
}

#blender-grid-editor-parameter .list-add-row {
    min-height: 86px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border: 1px dashed #bbbabf;
    background-color: transparent;
    color: #1b264f;
    font-weight: 700;
    position: relative;
    box-shadow: none;
}

#blender-grid-editor-parameter .list-add-row:hover {
    color: #2152a3;
    text-decoration: none;
    border-color: #2152a3;
}

#blender-grid-editor-parameter .mce-container,
#blender-grid-editor-parameter .mce-container-body {
    visibility:visible;
}

#blender-grid-editor-parameter .mce-stack-layout-item {
    display: block;
    margin-top: 0px !important;
    position: static !important;
}

#blender-grid-editor-parameter .list-icons li {
    padding-left: 0px;
}