
<div class="umb-panel" ng-controller="LeBlender.Dialog.EditorConfig.Prevalues.Controller">

    <div class="umb-panel-body no-header with-footer">
        <div class="umb-forms-settings">

            <h4>Grid Editor Properties</h4>

            <div class="umb-property">
                <div class="control-group umb-control-group">

                    <!-- editor type -->
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Type</strong></label>
                        <div class="controls">
                            <select ng-change="propertyGridEditorChanged()" ng-options="type.editor.view as type.name for type in propertyGridEditors" ng-model="model.value.view">
                                <option value="">- - custom - -</option>
                            </select>
                        </div>
                    </div>

                    <!-- editor icon -->
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Icon</strong></label>
                        <div class="controls">
                            <div class="umbIconDropdownList">
                                <a href="#" prevent-default="" ng-click="openIconPicker()" class="btn btn-link picker-icons"> <i class="icon {{model.value.icon}}"></i> Choose an icon...</a>
                            </div>
                        </div>
                    </div>

                    <!-- editor name -->
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Name</strong></label>
                        <div class="controls">
                            <input class="umb-editor umb-textstring" type="text" ng-model="model.value.name" />
                        </div>
                    </div>

                    <!-- editor alias -->
                    <div class="umb-el-wrap" >
                        <label class="control-label"><strong>Alias</strong></label>
                        <div class="controls">
                            <input class="umb-editor umb-textstring" type="text" ng-model="model.value.alias" />
                        </div>
                    </div>

                    <!-- editor custom view -->
                    <div class="umb-el-wrap" ng-show="isCustom()">
                        <label class="control-label"><strong>View</strong></label>
                        <div class="controls">
                            <input class="umb-editor umb-textstring" type="text" ng-model="model.value.view" />
                        </div>
                    </div>

                    <!-- editor render -->
                    <div class="umb-el-wrap">
                        <label class="control-label">Render (optional)</label>
                        <div class="controls">
                            <!--<input class="umb-editor umb-textstring" ng-if="isBlenderEditor()" type="text" ng-model="model.value.frontView" />-->
                            <input class="umb-editor umb-textstring" type="text" ng-model="model.value.render" />
                        </div>
                    </div>
                    
                    <!-- config for custom field -->
                    <div class="umb-el-wrap" ng-show="isCustom()">
                        <label class="control-label">Config<small>Optional custom editor config (Json)</small></label>
                        <div class="controls">
                            <textarea type="text" style="width: 386px; height: 228px;" ng-model="textAreaconfig" />
                        </div>
                    </div>

                </div>
            </div>

            <div ng-show="selectedPropertyGridEditor.prevalues && selectedPropertyGridEditor.prevalues.fields.length > 0">

                <h4>Grid Editor Configurations</h4>

                <div class="umb-property">
                    <div class="control-group umb-control-group">

                        <!-- prevalues -->
                        <div class="umb-el-wrap" ng-repeat="field in selectedPropertyGridEditor.prevalues.fields | advancedProperties:false">
                            <label class="control-label">{{field.label}}<small>{{field.description}}</small></label>
                            <propertygrideditorwrapper class="controls"
                                                       value="model.value"
                                                       key="field.key"
                                                       view="getFieldView(field.view)"></propertygrideditorwrapper>
                        </div>

                        <!-- Advanced prevalues -->
                        <div ng-show="(selectedPropertyGridEditor.prevalues.fields | advancedProperties:true).length > 0"
                             ng-click="adv = !adv"
                             class="umb-el-wrap" style="margin-top: 10px;margin-bottom: 10px;overflow: hidden;">
                            <i ng-show="!adv" class="icon-navigation-right"></i>
                            <i ng-show="adv" class="icon-navigation-down"></i>
                            <label class="control-label" for="adv" style="display: inline-block;"><strong>Advanced</strong></label>
                        </div>
                        <div class="umb-el-wrap" ng-show="adv" ng-repeat="field in selectedPropertyGridEditor.prevalues.fields | advancedProperties:true">
                            <label class="control-label">{{field.label}}<small>{{field.description}}</small></label>
                            <propertygrideditorwrapper class="controls"
                                                       value="model.value"
                                                       key="field.key"
                                                       view="getFieldView(field.view)"></propertygrideditorwrapper>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                </a>
                <a ng-click="save()" class="btn btn-primary">
                    <localize key="buttons_save" class="ng-isolate-scope ng-scope">Save</localize>
                </a>
            </div>
        </div>
    </div>

</div>
