
<div class="umb-panel" ng-controller="LeBlender.Dialog.EditorConfig.Prevalues.Controller">

    <div class="umb-panel-body no-header with-footer">
        <div class="umb-forms-settings">

            <h4>Editor setting</h4>

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Type</strong></label>
                        <div class="controls">
                            <select ng-change="update()" ng-options="type.view as type.name for type in defaultEditorList" ng-model="model.value.view">
                                <option value="">- - custom - -</option>
                            </select>
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Icon</strong></label>
                        <div class="controls">
                            <div class="umbIconDropdownList">
                                <a href="#" prevent-default="" ng-click="openIconPicker()" class="btn btn-link picker-icons"> <i class="icon {{model.value.icon}}"></i> Choose an icon...</a>
                            </div>
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Name</strong></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.name" />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Alias</strong></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.alias" />
                        </div>
                    </div>
                    <div class="umb-el-wrap" ng-show="isCustom()">
                        <label class="control-label"><strong>View</strong><small>Custom editor's view</small></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.view" />
                        </div>
                    </div>

                    <div class="umb-el-wrap" ng-show="isBlenderEditor()">
                        <label class="control-label"><strong>Properties</strong><small>LeBlender's set of properties</small></label>
                        <div class="controls">
                            <ul class="unstyled list-icons umb-contentpicker" ui-sortable="" ng-model="model.value.config.editors">
                                <li ng-repeat="parameter in model.value.config.editors track by $index">
                                    <i class="icon icon-navigation handle"></i>
                                    <i class="icon icon-delete red pull-right" ng-click="remove($index)"></i>
                                    <a href="#" prevent-default="" ng-click="openParameterConfig(parameter)">
                                        {{parameter.name}}
                                    </a>
                                    <!--<small clas
                                </a><!--<small clas
                                s="ng-binding">({{parameter.propretyType.name}})</small>-->
                                </li>
                                </li>
                            </ul>
                            <ul class="unstyled list-icons">
                                <li>
                                    <i class="icon icon-add blue"></i>
                                    <a href="#" ng-click="openParameterConfig()" prevent-default="">Add</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <div class="umb-property">
                <div class="umb-el-wrap" style="margin-bottom: 20px;">
                    <input type="checkbox" ng-model="model.value.adv" name="adv" id="adv" style="margin-top: 12px;margin-right: 5px;float: left;" />
                    <label class="control-label" for="adv" style="float: left;"><strong>Advanced settings</strong></label>
                </div>
                <div ng-show="model.value.adv" style="clear: both;">
                    <div ng-show="isBlenderEditor()">
                        <div class="umb-el-wrap">
                            <label class="control-label">Render in the grid</label>
                            <div class="controls" style="overflow: hidden;">
                                <input type="checkbox" ng-model="model.value.config.renderInGrid" style="float: left;height: 30px;" /><label style="margin-left: 5px;float: left;" class="control-label">Yes</label>
                            </div>
                        </div>
                        <div class="umb-el-wrap">
                            <label class="control-label">Min<small>Minimum number of items</small></label>
                            <div class="controls">
                                <input type="number" ng-model="model.value.config.min" />
                            </div>
                        </div>
                        <div class="umb-el-wrap">
                            <label class="control-label">Max<small>Maximum number of items</small></label>
                            <div class="controls">
                                <input type="number" ng-model="model.value.config.max" />
                            </div>
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label">Render<small>MVC Partial view</small></label>
                        <div class="controls">
                            <input ng-if="isBlenderEditor()" type="text" ng-model="model.value.frontView" />
                            <input ng-if="!isBlenderEditor()" type="text" ng-model="model.value.render" />
                        </div>
                    </div>
                    <div ng-show="!isBlenderEditor()" class="umb-el-wrap">
                        <label class="control-label">Config<small>Optional editor config</small></label>
                        <div class="controls">
                            <textarea type="text" style="width: 386px; height: 228px;" ng-model="textAreaconfig" />
                        </div>
                    </div>
                </div>
            </div>
        
        </div>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                </a>
                <a ng-click="save()" class="btn btn-primary">
                    <localize key="buttons_save" class="ng-isolate-scope ng-scope">Save</localize>
                </a>
            </div>
        </div>
    </div>

</div>
