@inherits UmbracoViewPage<BlenderRootModel>

@using Umbraco.Web.Templates
@using Lecoati.BlenderGrid.Extension
@using Lecoati.BlenderGrid.Extension.Models

@foreach (var i in Model.Items) {
    <h2>@(i.GetValue<string>("Campo1"))</h2>
    <p>@(i.GetValue<string>("colorpicker"))</p>
    <p>@(i.GetValue("contentpicker"))</p>
}

