
<div class="umb-panel" ng-controller="BlenderGrid.Dialog.ParameterConfig.Prevalues.Controller">

    <div class="umb-panel-body no-header with-footer">
        <div class="umb-forms-settings">

            <h4>Parameter setting</h4>

            <div class="umb-property">
                <div class="control-group umb-control-group">
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Type</strong></label>
                        <div class="controls">
                            <select ng-options="type.view as type.name for type in defaultParameterList" ng-model="model.value.view">
                                <option value="">- - custom - -</option>
                            </select>
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Name</strong></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.name" />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label"><strong>Alias</strong></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.alias" />
                        </div>
                    </div>
                    <div class="umb-el-wrap" ng-show="isCustom()">
                        <label class="control-label"><strong>View</strong></label>
                        <div class="controls">
                            <input type="text" ng-model="model.value.view" />
                        </div>
                    </div>
                    <div class="umb-el-wrap">
                        <label class="control-label">Config</label>
                        <div class="controls">
                            <textarea type="text" style="width: 386px; height: 228px;" ng-model="textAreaconfig" />
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a ng-click="close()" class="btn btn-link">
                    <localize key="general_cancel" class="ng-isolate-scope ng-scope">Cancel</localize>
                </a>
                <a ng-click="save()" class="btn btn-primary">
                    <localize key="buttons_save" class="ng-isolate-scope ng-scope">Save</localize>
                </a>
            </div>
        </div>
    </div>

</div>
