<!DOCTYPE root[<!ELEMENT Page ANY>
<!ATTLIST Page id ID #REQUIRED>
 

]>
<root id="-1">
  <Page id="1053" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2015-01-27T12:01:11" updateDate="2015-03-04T18:24:49" nodeName="test" urlName="test" path="-1,1053" isDoc="" nodeType="1051" creatorName="test@test.com" writerName="test@test.com" writerID="0" template="1050" nodeTypeAlias="Page">
    <Page id="1057" parentID="1053" level="2" creatorID="0" sortOrder="0" createDate="2015-02-11T10:21:24" updateDate="2015-02-27T16:52:17" nodeName="vgfd" urlName="vgfd" path="-1,1053,1057" isDoc="" nodeType="1051" creatorName="test@test.com" writerName="test@test.com" writerID="0" template="1050" nodeTypeAlias="Page">
      <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": [
                    {
                      "content": {
                        "value": "1058",
                        "editorAlias": "content",
                        "editorName": "content"
                      }
                    }
                  ],
                  "editor": {
                    "name": "antoine",
                    "alias": "antoine",
                    "view": "/App_Plugins/Lecoati.BlenderGrid/core/blendergrideditor.html",
                    "icon": "icon-umbrella",
                    "config": {
                      "editors": [
                        {
                          "name": "content",
                          "alias": "content",
                          "view": "/umbraco/Views/propertyeditors/contentpicker/contentpicker.html",
                          "config": {
                            "multiPicker": false,
                            "minNumber": 1,
                            "maxNumber": 1
                          }
                        }
                      ],
                      "renderInGrid": true,
                      "limit": 10
                    },
                    "render": "antoine"
                  }
                }
              ]
            }
          ],
          "id": "3b0a20a8-086e-bc40-65d1-1998ab5356b4"
        }
      ]
    }
  ]
}]]></grid>
      <Page id="1058" parentID="1057" level="3" creatorID="0" sortOrder="0" createDate="2015-02-11T10:21:30" updateDate="2015-02-14T09:57:11" nodeName="caca" urlName="caca" path="-1,1053,1057,1058" isDoc="" nodeType="1051" creatorName="test@test.com" writerName="test@test.com" writerID="0" template="1050" nodeTypeAlias="Page">
        <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": [
                    {
                      "bgf": {
                        "value": "1054,1059",
                        "editorAlias": "bgf",
                        "editorName": "gfb"
                      }
                    }
                  ],
                  "editor": {
                    "name": "antoine",
                    "alias": "antoine",
                    "view": "/App_Plugins/Lecoati.BlenderGrid/core/blendergrideditor.html",
                    "icon": "icon-umbrella",
                    "config": {
                      "editors": [
                        {
                          "name": "gfb",
                          "alias": "bgf",
                          "view": "/umbraco/Views/propertyeditors/mediapicker/mediapicker.html",
                          "config": {
                            "multiPicker": "false",
                            "startNodeId": -1
                          }
                        }
                      ],
                      "renderInGrid": true
                    },
                    "render": "antoine"
                  }
                }
              ]
            }
          ],
          "id": "febfeca8-e645-10c1-3848-e38c1da38ca4"
        }
      ]
    }
  ]
}]]></grid>
      </Page>
    </Page>
    <grid><![CDATA[{
  "name": "1 column layout",
  "sections": [
    {
      "grid": 12,
      "rows": [
        {
          "name": "Headline",
          "areas": [
            {
              "grid": 12,
              "editors": [
                "headline"
              ],
              "controls": [
                {
                  "value": [
                    {
                      "account": {
                        "value": "@lecoati",
                        "editorAlias": "account",
                        "editorName": "account"
                      }
                    }
                  ],
                  "editor": {
                    "name": "LastTweets",
                    "alias": "lastTweets",
                    "view": "/App_Plugins/Lecoati.LeBlender/core/LeBlendereditor.html",
                    "icon": "icon-newspaper-alt",
                    "config": {
                      "renderInGrid": true,
                      "fixed": true,
                      "editors": [
                        {
                          "name": "account",
                          "alias": "account",
                          "view": "",
                          "propretyType": {
                            "name": "Textarea",
                            "view": "textarea"
                          }
                        }
                      ]
                    },
                    "render": "/App_Plugins/Lecoati.LeBlender/core/views/Base.cshtml",
                    "adv": true,
                    "frontView": "LastTweets"
                  }
                }
              ]
            }
          ],
          "id": "16bb27b3-072b-e166-bfcc-6faaabd0d218"
        }
      ]
    }
  ]
}]]></grid>
  </Page>
</root>