
.list-panel {
    padding:50px 30px;
}

#blender-grid-editor-parameter em {
    margin-bottom: 20px;
    display: block;
    margin-top: -15px;
}

#blender-grid-editor-parameter i {
    margin-left:5px;
}

#blender-grid-editor-parameter {
    /*border-bottom: 1px solid #dbdbdb;
    background:#ffffff;*/
}

#blender-grid-editor-parameter .list {
    border: 1px solid #DBDBDB;
    padding: 0px 0 5px 0;
    /*text-align: center;*/
    cursor:pointer;
    height:0;
    position:relative;
    background:#fff;
    overflow:hidden;
}

#blender-grid-editor-parameter .multiple {
    padding: 22px 0 5px 0;
    margin-bottom: 5px;
}

#blender-grid-editor-parameter .list:hover {
    /*background-color:rgba(251, 251, 251, 1);*/
}

#blender-grid-editor-parameter .list-open {
    height:auto;
    /*background-color:rgba(251, 251, 251, 1);*/
    overflow:initial;
}

#blender-grid-editor-parameter .list-open .list-field {
    padding: 0 15px;
    margin-bottom: 15px !important;
}

#blender-grid-editor-parameter .list-open .list-field h5 {
    color: #7F7F7F;
}

/*#blender-grid-editor-parameter .list-open .list-field > div {
    text-align: center;
}*/

#blender-grid-editor-parameter .umb-editor {
    width: 100% !important;
}

#blender-grid-editor-parameter a:hover, a:focus {
    text-decoration: none;
}

#blender-grid-editor-parameter .umb-sortable-thumbnails li {
    border: 1px solid #EBEBEB;
}

#blender-grid-editor-parameter .list-number {
    right: 0;
    left: 0;
    font-weight: bolder;
    margin-bottom: 10px;
    display: block;
    margin-top: -22px;
    padding: 4px 10px;
    color: #555;
    background: #f8f8f8;
}


#blender-grid-editor-parameter .list-number span {
    width: 80%;
    display: inline-block;
    overflow: hidden;
    display: inline-block;
    width: 280px;
    white-space: nowrap;
    overflow: hidden !important;
    text-overflow: ellipsis;
}


#blender-grid-editor-parameter .list-number i {
    float:right;
}

#blender-grid-editor-parameter .list .list-number:hover {
    background-color:#EBEBEB;
}

#blender-grid-editor-parameter .list-add-row {
    border-top: 1px solid #dbdbdb;
    padding: 5px;
    color: #aaaaaa;
    text-align: right;
}

#blender-grid-editor-parameter .list-add-row i {
    cursor:pointer;
}

#blender-grid-editor-parameter .list-add-row i:hover {
    color: #2e8aea;
}

#blender-grid-editor-parameter textarea {
    width: 353px;
    height: 100px;
    margin-bottom: 0px;
}

#blender-grid-editor-parameter input[type='text'] {
    width: 353px;
    margin-bottom: 0px;
}

#blender-grid-editor-parameter .umb-sortable-thumbnails {
    text-align:center;
}

#blender-grid-editor-parameter .mce-container,
#blender-grid-editor-parameter .mce-container-body {
    visibility:visible;
}

#blender-grid-editor-parameter .mce-stack-layout-item {
    display: block;
    margin-top: 0px !important;
}

#blender-grid-editor-parameter .list-icons li {
    padding-left: 0px;
}