
#uSky-GridSettings-backgroundColorPicker ul {
    list-style: none;
    padding: 20px 0 0 10px;
    margin: 0;
}

#uSky-GridSettings-backgroundColorPicker ul li {
    display: inline-block;
    height: 50px;
    border: 3px solid rgb(194, 194, 194);
    width: 177px;
    margin-right: 10px;
    margin-bottom: 8px;
    cursor: pointer;
}

#uSky-GridSettings-backgroundColorPicker ul li:hover, 
#uSky-GridSettings-backgroundColorPicker ul li.selected  {
    border: 3px solid #53a93f;
}

#uSky-GridSettings-backgroundColorPicker ul li.empty  {
    background-color:transparent;
    background-image:url(pngSimu.png);
    background-repeat:repeat;
}


